*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box; /* asegura que el border ni el padding aumenten el tamaño del elemento*/
}
body{
    line-height: 1.6; /*ayda a la visibilidad del texto*/
}

.navbar{
    display: flex; /*permite que los elementos se alineen en una sola fila*/
    justify-content: space-between; /*espacio entre elementos*/
    align-items: center; /*centra los elementos al eje y*/
    background-color: #333;
    color: white;
    padding: 15px 20px;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li{
    margin-right: 20px;
}


.navbar ul li a{
    color: white;
    text-decoration: none;
}

.principal{
    padding: 20px;
}
.principal h2{
    margin-bottom: 20px;
    transform: translate(-50%, -50%); /*mueve el elemento 50% a la izquierda y 50% hacia arriba*/
    color: red;
    background-color: rgb(255, 255, 255, 0.8); /*color blanco con 80% de opacidad*/
    padding: 10px 20px; /*padding: 10px arriba y abajo, 20px a los lados*/
    border-radius: 5px; /*redondea las esquinas del elemento*/
}

.contacto{
    text-align: center;
    padding: 20px; /*padding: 20px arriba y abajo, 0 a los lados*/
}

.contacto h2{
    margin-bottom: 20px;
    color: red;
    background-color: rgb(255, 255, 255, 0.8); /*color blanco con 80% de opacidad*/
    padding: 10px 20px; /*padding: 10px arriba y abajo, 20px a los lados*/
    border-radius: 5px; /*redondea las esquinas del elemento*/
}